#!/bin/bash

#------------------------------------------------
# General aliases
#------------------------------------------------

alias la="ls -a"
alias ll="ls -l"
alias lla="ls -la"



#------------------------------------------------
# Git aliases
#------------------------------------------------

alias gi="git init"
alias gs="git status"
alias gd="git diff"
alias gds="git diff --staged"
alias ga="git add"
alias gb="git branch"
alias gc="git commit"
alias gcm="git commit -m"
alias gca="git commit --amend"
alias gp="git push"
alias gpo="git push origin"
alias gpu="git pull origin"
alias gl="git log"
alias gll="git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
alias glo="git log --oneline"
alias glog="git log --oneline --graph"
alias gf="git fetch"
alias gr="git remote -v"
alias gcl="git clone"
alias gsit="git stash --include-untracked"
alias gsp="git stash pop"
alias gm="git merge"
alias gcfd="git clean -fd"
alias grb="git rebase"
alias gco="git checkout"



# -----------------------------------------------
# Django aliases
# -----------------------------------------------

alias bm="./bin/manage"
alias bmr="./bin/manage runserver"
alias bmm="./bin/manage migrate"
alias bmc="./bin/manage collectstatic"
alias bms="./bin/manage shell"
alias m="python manage.py"
alias mr="python manage.py runserver"
alias mm="python manage.py migrate"



# -----------------------------------------------
# Other aliases
# -----------------------------------------------

alias nrc="npm run commit"
alias nrs="npm run serve"
alias cat="bat"
alias ping="prettyping --nolegend"
