[core]
    pager = delta
    editor = /opt/homebrew/bin/nvim

[user]
    email = arnellebalane@gmail.com
    name = Arnelle Balane

[commit]
    gpgsign = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[init]
    defaultBranch = main

[color]
    ui = auto

[color "branch"]
    current = yellow bold
    local = yellow
    remote = blue

[include]
    path = ~/dev/dotfiles/delta/themes.gitconfig

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[interactive]
    diffFilter = delta --color-only --features=interactive

[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections
    features = darkmoss
